body {
    overflow-x: hidden;
    font-family:  'Abeezee',sans-serif;
    background-image: url("img/papier.png");
    background-color: #f0d292;
    background-repeat: repeat;
    background-attachment: fixed;
    color: rgba(85, 42, 0, 0.979);   
}
h3 {
    padding-top: 10px;
}

#omnie .container,
#umiejetnosci .container,
#portfolio .container,
#kontakt .container
{
    background-color: rgba(119, 79, 5, 0.651);   
    margin-bottom: 25px;
}

#omnie .container{
    margin-top:25px;
}

 /*Nawigacja */
nav a {
    color: #d3af6b;
    text-decoration: solid;
    display: block;
}

nav a:hover{
    text-decoration: none;
}
.navbar {
    min-height: 40px;
    text-align: center;
    border:solid;
    background-color: rgba(99, 66, 6, 0.863); 
}
.navbar-nav{
    /*border:dotted;*/
    width:70vw;    
}
/*
.bg-own {
    background-color: #663c04d8;
}
*/
/*----------------------------------------------------*/
/* Header */
header.mhead {
	text-align: center;
    color: #ffffff;
	background-image: url("img/computer.jpg");
	
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50% 50%;
	background-size: cover;
    height:92vh;
    border:solid;
	
}
header.mhead .intro-text {    
    align-content: center;
    margin-top:25vh;
    margin-bottom:20vh;
    /*padding-top:15vh;*/          
}
header.mhead .intro-text .intro-lead-in {
    font-size: 45px;
    font-weight: 600;
    line-height: 70px;
    font-style: italic;
    margin-bottom: 50px;
    margin-top:50px;
    border:solid 3px;
   background-color:rgba(0, 0, 0, 0.658);
   padding:20px;
}
/*
@media (min-width: 768px) {
    header.mhead .intro-text {
        padding-top: 125px;
        padding-bottom: 250px;
    }

    header.mhead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
    }

    header.mhead .intro-text .intro-heading {
        font-size: 55px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 50px;
    }
}

@media (max-width: 767px){
    header.mhead .intro-text {
        padding-top: 110px;
        padding-bottom: 250px;
    }
    header.mhead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 50px;
        margin-bottom: 25px;
    }
    header.mhead .intro-text .intro-heading {
        font-size: 60px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
    }
}
*/
section#omnie .section-heading ,
section#umiejetnosci .section-heading ,
section#portfolio .section-heading ,
section#kontakt .section-heading 
{
    color: rgb(87, 58, 4);
    padding-bottom: 10px;
    font-size: 40px;
}
/*----------------------------------------------*/
/* O mnie */
.avatar img {
    width: 270px;
    height: 350px;
    border: 5px solid #cec5b7;
    display: block;		
}

.avatar{
	padding:50px,30px;
}
.wiecej,
.personal {
    padding: 20px;	
    margin:20px;
    border-style: dotted dashed solid double;
}

.bold {
    font-weight: 850;
    color: #5c2c00;
}
/*------------------------------------------*/
/* Umiejetnosci */
#umiejetnosci  img{   
	/*width: 100%;*/
	height: 50px;
    /*object-fit: contain;*/
    overflow: hidden;
}		
	  .one-skill {
		background-color: rgba(206, 187, 95, 0.445);
		min-height: 120px;
        position: relative;
        transition: all 0.5s ease-in-out;
        
      }  
      .one-skill:hover{
        -webkit-transform: scale(0.95) rotate(5deg);
	    -ms-transform: scale(0.95) rotate(5deg);
	    transform: scale(0.95) rotate(5deg);

      }
	  @media screen and (max-width: 768px) {
		.one-skill {margin-bottom: 15px;}
      }

/* Portfolio */

#portfolio img{
	width: 100%;
	height: auto;
	object-fit: contain;
}  
.one-portfolio{
    background-color: rgba(206, 187, 95, 0.445);
    min-height: 100px;
    position: relative;
    transition: all 0.5s ease-in-out;
 }
 .one-portfolio:hover{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); 
 }

/* Formularz kontaktowy */
.btn-color {
    background-color: rgb(112, 62, 15);
    color: rgb(255, 248, 214);
}

/*section#kontakt {
    background-color: #8d6206cb;
}
*/
section#kontakt .form-group {
    margin-bottom: 20px;
}

section#kontakt .form-group input,
section#kontakt .form-group textarea {
    padding: 15px;
}

section#kontakt .form-group input.form-control {
    height: auto;
}

section#kontakt .form-group textarea.form-control {
    height: 250px;
}

section#kontakt ::-webkit-input-placeholder {
    font-weight: 600;
    color: rgb(104, 87, 71)
}
section#kontakt :-moz-placeholder {
    font-weight: 600;
    color: #e8ecf0;
}
section#kontakt ::-moz-placeholder {
    font-weight: 600;
    color: #e8ecf0;
}
section#kontakt :-ms-input-placeholder {
    font-weight: 600;
    color: #e8ecf0;
}
#clearButton,
#sendMessageButton{
    width: 20vw;
}
/*#kontakt .container{
    background-color: rgba(136, 91, 7, 0.651);  
}*/
/* Footer */

#footer .container{
    background-color:rgba(99, 66, 6, 0.863); 
    color: rgb(255, 240, 227);
}